argcomplete==1.12.1
certifi==2020.11.8
colorama==0.4.4
commonmark==0.9.1
cycler==0.10.0
czifile==2019.7.2
decorator==4.4.2
imagecodecs==2020.5.30; platform_system == "Windows"
imageio==2.9.0
importlib-metadata==2.0.0; python_version == "3.7"
jinja2==2.11.2
joblib==0.17.0
kiwisolver==1.3.1
markupsafe==1.1.1
matplotlib==3.3.2
-e git+https://github.com/ggirelli/nd2reader@b5977bbf98200d712ff7b61c872e5bbb01f2be20#egg=nd2reader
networkx==2.5
numpy==1.19.4
pandas==1.1.4
pillow==8.0.1
pims==0.5
plotly==4.12.0
pygments==2.7.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pywavelets==1.1.1
retrying==1.3.3
rich==9.2.0
scikit-image==0.17.2
scipy==1.5.4
six==1.15.0
slicerator==1.0.0
tifffile==2020.10.1
typing-extensions==3.7.4.3
xmltodict==0.12.0
zipp==3.4.0; python_version == "3.7"
