{% include "include/dom_start.html" %}<div class="container">
	<h1 class="my-5">{{title}}</h1>
	<div class="row">
		<div class="col">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-Settings-tab" data-toggle="tab" href="#nav-Settings" role="tab" aria-controls="nav-Settings" aria-selected="true">Settings</a>
					<a class="nav-item nav-link" id="nav-results-tab" data-toggle="tab" href="#nav-results" role="tab" aria-controls="nav-results" aria-selected="false">Results</a>
					<a class="nav-item nav-link" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="false">Data</a>
				</div>
			</nav>
			<div class="tab-content p-3" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-Settings" role="tabpanel" aria-labelledby="nav-Settings-tab">
					<table class="table table-hover table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Argument</th>
								<th scope="col">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Input</th>
								<td>{{ args.input }}</td>
							</tr>
							<tr>
								<th scope="row">Output</th>
								<td>{{ args.output }}</td>
							</tr>
							<tr>
								<th scope="row">Reference channel</th>
								<td>{{ args.dna_channel }}</td>
							</tr>
							<tr>
								<th scope="row">Aspect (ZYX)</th>
								<td>{{ args.aspect }}</td>
							</tr>
							<tr>
								<th scope="row">Prefix</th>
								<td><code>{{ args.mask_prefix }}</code></td>
							</tr>
							<tr>
								<th scope="row">Suffix</th>
								<td><code>{{ args.mask_suffix }}</code></td>
							</tr>
							<tr>
								<th scope="row">Ground block side</th>
								<td>{{ args.block_side }}</td>
							</tr>
							<tr>
								<th scope="row">Labeled</th>
								<td>{{ args.labeled|string }}</td>
							</tr>
							<tr>
								<th scope="row">Rescale</th>
								<td>{{ args.do_rescaling|string }}</td>
							</tr>
							<tr>
								<th scope="row">Compressed</th>
								<td>{{ args.compressed|string }}</td>
							</tr>
							<tr>
								<th scope="row">Reg.exp.</th>
								<td><code>{{ args.inreg.pattern }}</code></td>
							</tr>
							<tr>
								<th scope="row">Threads</th>
								<td>{{ args.threads }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-results-tab">
					<div id="extract_objects" class="mx-auto" style="width: 1000px;"></div>
					<script>
						CONTAINER = document.getElementById('extract_objects');
						PLOT_JSON = {{ plot_json|safe }};
						Plotly.newPlot( CONTAINER, PLOT_JSON.data, PLOT_JSON.layout, {"responsive":true, "displayModeBar":true})
					</script>
				</div>
				<div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
					<table class="table table-hover text-center">
						<thead class="thead-dark">
							<th scope="col">Directory</th>
							<th scope="col">Reference</th>
							<th scope="col">BG</th>
							<th scope="col">FG</th>
							<th scope="col">Mask</th>
							<th scope="col">Objects</th>
						</thead>
						<tbody>
							{% for series in series_list: %}
							<tr>
								<td>{{ series[args.ref_channel][1].path|dirname }}</td>
								<td>{{ series[args.ref_channel][1].path|basename }}</td>
								<td>{{ series[args.ref_channel][1].background }}</td>
								<td>{{ series[args.ref_channel][1].foreground }}</td>
								<td>{{ series.mask.path|basename }}</td>
								<td>{{ series.particles|length }}</td>
							</tr>
							{% endfor %}
							<tr>
								<th scope="row" colspan="5" class="text-right">Total</th>
								<td>{{ data.shape[0] }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row p-2">
		<p><small>Report generated on {{ now }} with <code>radiant extract_objects v{{args.version}}</code>.</small></p>
	</div>
</div>{% include "include/dom_end.html" %}
