{% include "include/dom_start.tpl.html" %}<div class="container">
	<h1 class="my-5">{{title}}</h1>
	<div class="row">
		<div class="col">
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-Settings-tab" data-toggle="tab" href="#nav-Settings" role="tab" aria-controls="nav-Settings" aria-selected="true">Settings</a>
					<a class="nav-item nav-link" id="nav-Results-tab" data-toggle="tab" href="#nav-Results" role="tab" aria-controls="nav-Results" aria-selected="true">Profiles</a>
				</div>
			</nav>
			<div class="tab-content p-3" id="nav-tab-mainContent">
				<div class="tab-pane fade show active" id="nav-Settings" role="tabpanel" aria-labelledby="nav-Settings-tab">
					<table class="table table-hover table-bordered">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Argument</th>
								<th scope="col">Value</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Input</th>
								<td>{{ args.input }}</td>
							</tr>
							<tr>
								<th scope="row">Output</th>
								<td>{{ args.output }}</td>
							</tr>
							<tr>
								<th scope="row">Reference channel</th>
								<td>{{ args.ref_channel }}</td>
							</tr>
							<tr>
								<th scope="row">Aspect (ZYX)</th>
								<td>{{ args.aspect }}</td>
							</tr>
							<tr>
								<th scope="row">Axes</th>
								<td>{{ args.axes }}</td>
							</tr>
							<tr>
								<th scope="row">Center type</th>
								<td>{{ args.center_type }}</td>
							</tr>
							<tr>
								<th scope="row">Quantile</th>
								<td>{{ args.quantile }}</td>
							</tr>
							<tr>
								<th scope="row">Prefix</th>
								<td><code>{{ args.mask_prefix }}</code></td>
							</tr>
							<tr>
								<th scope="row">Suffix</th>
								<td><code>{{ args.mask_suffix }}</code></td>
							</tr>
							<tr>
								<th scope="row">Bins</th>
								<td>{{ args.bins }}</td>
							</tr>
							<tr>
								<th scope="row">Degree</th>
								<td>{{ args.degree }}</td>
							</tr>
							<tr>
								<th scope="row">Ground block side</th>
								<td>{{ args.block_side }}</td>
							</tr>
							<tr>
								<th scope="row">Labeled</th>
								<td>{{ args.labeled|string }}</td>
							</tr>
							<tr>
								<th scope="row">Rescale</th>
								<td>{{ args.do_rescaling|string }}</td>
							</tr>
							<tr>
								<th scope="row">Compressed</th>
								<td>{{ args.compressed|string }}</td>
							</tr>
							<tr>
								<th scope="row">Reg.exp.</th>
								<td><code>{{ args.inreg.pattern }}</code></td>
							</tr>
							<tr>
								<th scope="row">Threads</th>
								<td>{{ args.threads }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="nav-Results" role="tabpanel" aria-labelledby="nav-Results-tab">

					<form id="plot-selection-form">
						<div class="form-group row">
							<label for="distance_type" class="col-sm-2 col-form-label">Distance type:</label>
							<div class="col-sm-10">
								<select class="form-control" name="distance_type" id="distance_type">
									{% for distance_type in dtypes: %}
									<option value="{{distance_type}}">{{dlabs[distance_type]}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="channel" class="col-sm-2 col-form-label">Channel:</label>
							<div class="col-sm-10">
								<select class="form-control" name="channel" id="channel">
									{% for channel_name in figures %}
									<option value="{{channel_name}}">{{channel_name}}</option>
									{% endfor %}
								</select>
							</div>		
						</div>
					</form>

					<div id="plots">
						{% for distance_type in dtypes: %}
						{% for channel_name in figures %}
						<div class="canvas" id="profile-{{distance_type}}-{{channel_name}}" class="mx-auto" style="width: 1000px; display: none;"></div>
						<script>
							CONTAINER = document.getElementById('profile-{{distance_type}}-{{channel_name}}');
							PLOT_JSON_{{distance_type}}_{{channel_name}} = {{ figures[channel_name][distance_type].to_json() | safe }};
							Plotly.newPlot( CONTAINER, PLOT_JSON_{{distance_type}}_{{channel_name}}.data, PLOT_JSON_{{distance_type}}_{{channel_name}}.layout, {"responsive":true, "displayModeBar":true})
						</script>
						{% endfor %}
						{% endfor %}
					</div>


					<script>
						function hide_all_plots() {
							$("#plots .canvas").css({'display':'none'});
						}

						function show_plot(hook) {
							console.log(hook);
							$(hook).css({'display':'block'});
						}

						function get_selected_plot_hook() {
							distance_type = $("#plot-selection-form").find("#distance_type").val();
							channel = $("#plot-selection-form").find("#channel").val();
							return "#profile-" + distance_type + "-" + channel;
						}

						function init_plot() {
							hide_all_plots();
							show_plot(get_selected_plot_hook());
						}

						$(function() {
							init_plot();
							$("#plot-selection-form").change(function(e) { init_plot() });
						})
					</script>
				</div>
			</div>
		</div>
	</div>
	<div class="row p-2">
		<p><small>Report generated on {{ now }} with <code>radiant extract_objects v{{args.version}}</code>.</small></p>
	</div>
</div>{% include "include/dom_end.tpl.html" %}
